*{
    margin: 0px;
    padding: 0px;
}
body{
        width: 100%;
        height: 100%;
        background: url(./images/background.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
}
.win88 .lonely-person p{
    padding-top: 18px;
    color: white;
}
/* .win88 .lonely-person p{
    padding-top: 15px;
} */
.win88{
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.win88 .lonely-person i{
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
    radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
    border-radius: 100%;
    font-size: 30px;
    padding: 15px;
}
.win88 .win88-pic{
    width: 200px;
}
.win88 .win88-pic img{
    width: 100%;
}
.app{
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.app .playstore,
.app .appstore{
    width: 50%;
}
.app .playstore img,
.app .appstore img{
    width: 100%;
}
.app2{
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.app2 .android,
.app2 .website{
    width: 50%;
}
.app2 .android img,
.app2 .website img{
    width: 100%;
}
.app3{
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.app3 .facebook,
.app3 .telegram{
    width: 50%;
}
.app3 .facebook img,
.app3 .telegram img{
    width: 100%;
}